<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Get It Done
            <br />
            With Us Today
        </h2>
        <p>
            Get in contact with the team to get started with giving your roof some TLC! 
        </p>
        <a href="/contact" class="cs-button-solid">Get an Estimate Now</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/getit.jpeg">
        <source media="(min-width: 601px)" srcset="/assets/images/getit.jpeg">
      
    </picture>

</section>