---
title: 'Projects'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'projects/'
eleventyNavigation:
    key: Projects
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Our Projects</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/contact.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/contact.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/contact.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery">
        <div class="cs-container">
            <div class="cs-image-group">
                <!-- Row 1-->
                <div class="cs-row cs-row-1">
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/one.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/one.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/one.jpg" alt="new hallway" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/two.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/two.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/two.jpg" alt="new home construction" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/three.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/three.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/three.jpg" alt="building a new wall" loading="lazy" width="400" height="560">
                    </picture>
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                </div>
                <!-- Row 2 -->
                <div class="cs-row cs-row-2">
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/four.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/four.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/four.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/five.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/five.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/five.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/six.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/six.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/six.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                </div>
                <!-- Row 3 -->
                <div class="cs-row cs-row-3">
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/seven.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/seven.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/seven.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/eight.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/eight.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/eight.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/nine.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/nine.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/nine.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>

                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                </div>
            </div>
            <a href="/contact" class="cs-button-solid">Get Free Quote</a>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}