---
title: 'Reviews'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'reviews/'
eleventyNavigation:
    key: Reviews
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/reviews.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Our Reviews</h1>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/contact.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/contact.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/contact.jpg" alt="new home" width="2500" height="1667" loading="eager">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Reviews                     -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="container">
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Have used First Rate on a number of occasions for minor maintenance and repairs across multiple properties. Jack responds promptly to give an initial quote, which is always competitive, and gets the work done quickly and to a good standard. I’ve been impressed enough to give him the contract for a current new build as I’m confident he’s the best in the area at what he does.</p>
                <div class="star-group">
                    <span class="name">Ben Rowan<span class="desc">Homeowner</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Can fully recommend Jack and his team. Kept me fully informed how job was progressing and explained what he was proposing to do with my agreement carried it out to a very fair price. Will use again if looking for a roofer.

</p>
                <div class="star-group">
                    <span class="name">Bill Watson<span class="desc">Homeowner</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Jack replaced guttering and fascia and soffits plus replaced damaged roof tiles and installed a dry ridge system . Very pleased with the work done and they tidied up after they had finished. Our neighbour used them as well . Great communication and very hard working</p>
                <div class="star-group">
                    <span class="name">Jane Smith<span class="desc">Homeowner</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile-woman.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Roof was giving endless problems with multiple leaks. Jack was professional throughout kept me informed and gave me accurate timescales and got the job done.</p>
                <div class="star-group">
                    <span class="name">Mohammed Hasan<span class="desc">Homeowner</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Thank you for the speedy repair on my roof.First rate roofing went above and beyond to get the same tiles that I have now.Would definitely recommend.</p>
                <div class="star-group">
                    <span class="name">Gina Morris<span class="desc">Homeowner</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    They arrived on time and worked quickly and efficiently. All rubbish and unwanted tiles removed. Our house is smart and safe against winter weather.</p>
                <div class="star-group">
                    <span class="name">Wendy Gray<span class="desc">Homeowner</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}