---
title: 'First Rate Roofing Services LTD'
description: ''
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero">
        <div class="cs-container">
            <div class="cs-flex-group">
                <span class="cs-topper1">FIRST RATE ROOFING</span>
                <h1 class="cs-title">Expert Roofing Services in Staffordshire, Midlands & Surrounding Areas</h1>
                <p class="cs-text">
                    With years of experience, we provide top-quality roofing solutions including roof repairs, installations, maintenance, and inspections. Our skilled team ensures exceptional craftsmanship and attention to detail, guaranteeing durable and reliable roofing services for your home or business.
                </p>

                <a href="/about" class="cs-button-solid">Explore More</a>
                <a href="/contact" class="cs-button-transparent">
                    <img
                    class="cs-img"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Hero/play.svg"
                    alt="play icon"
                    width="17"
                    height="17" />
                    Get in Touch
                </a>
            </div>
        </div>

        <!-- Background Image -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/roofing.jpeg">
            <source media="(min-width: 601px)" srcset="/assets/images/roofing.jpeg">
            <img aria-hidden="true" decoding="async" src="/assets/images/roofing.jpeg" alt="new home" width="2500" height="1667" loading="eager">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services" class="services">
        <!-- Get Icons From flaticon.com -->
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/service2.svg"
                alt="Roof Repair"
                width="48"
                height="48" />
            </picture>
            <h2>Roof Repair</h2>
            <p>Expert roof repair services to fix leaks, damaged shingles, and other roofing issues, ensuring your home stays protected.</p>
        </div>
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/service2.svg"
                alt="Roof Installation"
                width="48"
                height="48" />
            </picture>
            <h2>Roof Installation</h2>
            <p>Professional roof installation services for new constructions and replacements, using high-quality materials for durability and longevity.</p>
        </div>
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/service2.svg"
                alt="Roof Maintenance"
                width="48"
                height="48" />
            </picture>
            <h2>Roof Maintenance</h2>
            <p>Comprehensive roof maintenance services to extend the life of your roof, including inspections, cleaning, and minor repairs.</p>
        </div>
    </section>
    

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/four.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/four.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/four.jpg" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/construction-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/construction.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/construction.jpg" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">Who are First Rate Roofing?</h2>
                <p class="cs-text">
                    First Rate Roofing is a premier roofing company based in Burton-on-Trent, dedicated to providing top-quality roofing services. Our team of experienced professionals specializes in roof repairs, installations, and maintenance, ensuring exceptional craftsmanship and customer satisfaction. Whether you need a minor repair or a complete roof replacement, we are committed to delivering reliable and efficient roofing solutions tailored to your needs.
                </p>
               
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        We have years of experience in everything roofing. Me and my team will ensure that every process is handled professionally.
                    </p>
                    <span class="cs-name">Jack</span>
                    <span class="cs-job">Founder</span>
                    <img 
                    class="cs-quote-icon"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
                    alt="gavel"
                    width="136"
                    height="77" />
                </div>
                <a href="/about" class="cs-button-solid">More About Us</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--            Extra Content To Rank             -->
    <!-- ============================================ -->

    <section id="sbs-r">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/construction-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/construction.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/construction.jpg" alt="house" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/four.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/four.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/four.jpg" alt="cabinets" loading="lazy" width="400" height="560">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">What we do best</span>
                <h2 class="cs-title">Services</h2>
                <p class="cs-text">
                    With over 10 years of experience, our roofing company specializes in a comprehensive range of services including roof repairs, roof cleaning, roof inspection, and roof restoration. We handle all types of roofs, from pitched roofs to flat roofs, ensuring your home remains safe and secure.</p>
                <p class="cs-text">
                    We offer prompt and efficient roof repairs for all roof types to prevent leaks and structural damage. Our professional roof cleaning services remove moss, algae, and debris, extending the life of your roof. Detailed roof inspections identify potential issues early and provide preventive maintenance, while our complete roof restoration services revitalize and protect your roof. We also install and maintain fascia, soffits, and guttering systems to ensure proper water drainage. Our expertise includes durable and weather-resistant lead work, as well as the installation, repair, and maintenance of slate roofs for a classic and long-lasting finish. </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery">
        <div class="cs-container">
            <span class="cs-topper">Our Portfolio</span>
            <h2 class="cs-title">We cover all aspects of roofing, following professional procedures and best practices.</h2>
            <div class="cs-image-group">
                <!-- Row 1-->
                <div class="cs-row cs-row-1">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/one.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/one.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/one.jpg" alt="new hallway" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/two.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/two.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/two.jpg" alt="new home construction" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/three.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/three.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/three.jpg" alt="building a new wall" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 2 -->
                <div class="cs-row cs-row-2">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/four.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/four.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/four.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/five.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/five.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/five.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/six.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/six.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/six.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 3 -->
                <div class="cs-row cs-row-3">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/seven.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/seven.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/seven.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/eight.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/eight.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/eight.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/nine.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/nine.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/nine.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>

                </div>
            </div>
            <a href="/projects" class="cs-button-solid">View Full Gallery</a>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="cs-container">
            <span class="cs-topper">Our Reviews</span>
            <h2 class="cs-title">Words From Our Customers</h2>
            <p class="cs-text">
                We value our customers and strive to carry out services that exceed there expectations. We have many years of experience and a wide range of feedback from our customers.
            </p>
            <ul class="cs-card-group">
                <!-- Review 1 -->
                <li class="cs-item">
        
                    <p class="cs-item-p">
                        Have used First Rate on a number of occasions for minor maintenance and repairs across multiple properties. Jack responds promptly to give an initial quote, which is always competitive, and gets the work done quickly and to a good standard. I’ve been impressed enough to give him the contract for a current new build as I’m confident he’s the best in the area at what he does.
                    </p>
                    <span class="cs-reviewer">
                        Ben Rowan
                        <span class="cs-desc">Homeowner</span>
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16" />
                </li>
                <!-- Review 2 -->
                <li class="cs-item">
                    
                    <p class="cs-item-p">
                        Can fully recommend Jack and his team. Kept me fully informed how job was progressing and explained what he was proposing to do with my agreement carried it out to a very fair price. Will use again if looking for a roofer.
                    </p>
                    <span class="cs-reviewer">
                        Bill Watson
                        <span class="cs-desc">Homeowner</span>
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16" />
                </li>
            </ul>
            <a aria-label="read more reviews" href="/reviews" class="cs-button-solid">Our Reviews</a>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}